<div class="p-5 w-full" id=<%= twit.id.to_s %>>
  <% if twit.is_retwit? %>
    <div class="text-twitterGray text-sm p-1"><i class="fas fa-retweet"></i><%= link_to twit.user.username, user_path(twit.user) %> Retweeted</div>
  <% end %>

  <div class="flex">
    <i class="fas fa-user-circle fa-2x mr-2"></i>
    <div class="flex flex-col w-full">  
      <div class="flex justify-between">
        <div>
          <%= link_to user_path(author), class: "user" do %>
            <span class="font-bold"><%= author.full_name %></span>
            <span class="text-twitterGray"><%= author.tweeter_handle %></span>
          <% end %>
        </div>
        <% if author.id == current_user.id %>
          <%= link_to "x", user_twit_path(author.id, twit), method: :delete, class: "delete" %>
        <% end %>
      </div>
      <span class="flex"><%= render_body(twit) %></span>
      <%= fetch_images(twit)%>
      
      <div class="action">  
        <%= link_to new_reply_twit_path(twit, anchor: "reply") do %>
          <i class="far fa-comment"></i>
        <% end %>

        <%= render_retwit_action(twit) %>
      </div>
    </div>
  </div>
</div>