  <div class="twit">
    <% if twit.is_retwit? %>
      <div class="retweet">retweeted by <%= link_to twit.user.username, user_path(twit.user) %></div>
    <% end %>
    <div class="info">
      <%= link_to user_path(author), class: "user" do %>
        <span class="name"><%= author.full_name %></span>
        <span class="username"><%= author.tweeter_handle %></span>
      <% end %>
      <% if author.id == current_user.id %>
        <%= link_to "x", user_twit_path(author.id, twit), method: :delete, class: "delete" %>
      <% end %>
    </div>
    <div class="body"><%= render_body(twit) %></div>
    <div class="action">
      <%= link_to "Show", user_twit_path(twit.user.id, twit), class: "button" %>      
      <%= render_action(twit) %>
    </div>
  </div>    
