<div class="h-screen w-4/12 border-r">
  <div class="flex flex-col justify-between fixed h-screen">
    <div>
      <%= link_to root_path do %>
        <div class="py-4 px-2">
          <i class="fab fa-twitter fa-3x py-2 fill-current text-twitter rounded-full cursor-pointer hover:bg-twitterLight transition duration-900 ease-in-out"></i>
        </div>
      <% end %>
      
      <div class="flex items-center py-2 pl-2 pr-4 rounded-full cursor-pointer hover:bg-twitterLight hover:text-twitter transition duration-900 ease-in-out">
        <%= image_tag "home.png", class: "mr-8" %>
        <%= link_to 'Home', root_path, class: "font-bold text-lg" %>
      </div>

      <div class="flex items-center py-2 pl-2 pr-4 rounded-full cursor-pointer hover:bg-twitterLight hover:text-twitter transition duration-900 ease-in-out">
        <%= image_tag "notifications.png", class: "mr-8" %>
        <%= link_to 'Notifications', notification_index_path, class: "font-bold text-lg" %>
      </div>

      <div class="flex items-center py-2 pl-2 pr-4 rounded-full cursor-pointer hover:bg-twitterLight hover:text-twitter transition duration-900 ease-in-out">
        <%= image_tag "profile.png", class: "mr-8" %>
        <%= link_to 'Profile', user_path(current_user), class: "font-bold text-lg" %>
      </div>
    </div>

    <div class="flex flex-col w-full">
      <div class="flex items-center py-2 pl-2 pr-4 rounded-full cursor-pointer hover:bg-twitterLight hover:text-twitter transition duration-900 ease-in-out">
        <div class="mr-4">
          
            
          
            <i class="fas fa-user-circle fa-2x"></i>
           
        </div>
        <div class="flex flex-col overflow-hidden">
          <%= link_to current_user.first_name, user_path(current_user), class: "font-bold hover:underline" %>
          <%= link_to "@" + current_user.username, user_path(current_user), class: "text-twitterGray hover:underline" %>
        </div>
      </div>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "py-2 font-bold text-twitterGray hover:underline" %>
    </div>
  </div>
</div>