<div class="header"><%= "@" + @user.username + "'s profile" %></div>
<div class="page">
  <div class="profile-container">
    <div class="top">
      <div class="info">
        <%= render partial:"user/profile_pic", locals: {user: @user} %>
        <div class="name"><%= @user.first_name + " " + @user.last_name %></div>
        <div class="username"><%= "@" + @user.username %></div>
      </div>
      <%= render partial:"follow/button", locals: {user: @user} %>
    </div>
    <div class="follows">
      <%= link_to @user.followers.size.to_s + " followers", follower_index_user_path(@user), class: "links" %>
      <%= link_to @user.followings.size.to_s + " following", following_index_user_path(@user), class: "links" %>
    </div>
  </div>
  <% if @user.id == current_user.id %>
    <%= render partial:'twits/form', locals: { url: user_twits_path(current_user.id) } %>
  <% end %>
  <% if @pager.get_items.any? %>
    <%= render partial:'twits/table', locals: { pager: @pager }%>
  <% end %>
</div>
