<h1><%= @user.username %></h1>
<h2><%= @user.first_name + " " + @user.last_name %></h2>
<div>
  <%= render partial:"follow/button", locals: {user: @user} %>
</div>
<div>
  <%= link_to @user.followers.size.to_s + " followers", follower_index_user_path(@user) %>
  <%= link_to @user.followings.size.to_s + " following", following_index_user_path(@user) %>
</div>
<% if @user.id == current_user.id %>
  <%= render 'twits/form' %>
<% end %>
<% if @all.any? %>
  <%= render partial:'twits/table', locals: { posts: @all }%>
<% end %>
