<div class="flex flex-col stretch">
  <div class="flex flex-col w-full p-5">
    <p class="font-bold text-lg"><%= @user.first_name + " " + @user.last_name %></p>
    <p class="text-sm text-twitterGray"><%= @user.twits.count %> tweets</p>
  </div>
  <div class="flex flex-col relative">
    <div class="absolute bg-twitterLightGray w-full h-48"></div>
    <div class="flex flex-col mt-32 px-5 z-10">
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, class: "rounded-full bg-cover h-10 w-10 mr-2 ounded-full border-4 border-white" %>
    <% else %>
      <i class="fas fa-user-circle fa-6x rounded-full border-4 border-white"></i>
    <% end %>
    </div>
    <div class="flex w-full justify-between px-5">
      <div>
        <p class="font-bold text-lg"><%= @user.first_name + " " + @user.last_name %></p>
        <p class="text-twitterGray"><%= "@" + @user.username %></p>
      </div>
      <div> 
        <%= render partial:"follow/button", locals: {user: @user} %>
      </div>
    </div>  
    <div class="flex p-5">
      <p><%= link_to @user.followers.size.to_s, follower_index_user_path(@user), class: "font-bold hover:underline" %> followers |
      <%= link_to @user.followings.size.to_s, following_index_user_path(@user), class: "font-bold hover:underline" %> following </p>
    </div>
  
    <% if @pager.fetch_items.any? %>
      <%= render partial:'twits/table', locals: { pager: @pager }%>
    <% end %>
  </div>
</div>
