<div class="user">
  <div class="identity">
    <%= link_to user_path(user) do %>
      <%= render partial:"user/profile_pic", locals: {user: @user} %>
      <span class="name"><%= user.first_name + " " + user.last_name %></span>
      <span class="username"><%= "@" + user.username %></span>
    <% end %>
  </div>
  <% if current_user.followings.exists?(user.id) %>
    <%= link_to "unfollow", unfollow_user_path(user), method: :delete, class: "button -unfollow" %>
  <% elsif current_user.id == user.id %>
    <%= nil %>
  <% else %>
    <%= link_to "follow", follow_user_path(user), method: :post, class: "button -follow" %>
  <% end %>
</div>
